## Rename this file to .env and fill in the values for the API keys and endpoints.

# Proxy, needed by providers like openrouter, openai
MY_HTTP_PROXY="http://..."
MY_HTTPS_PROXY="http://..."

# openrouter provider
OPENROUTER_API_KEY="sk-or-v1-..."

# sillconflow provider
SILICONFLOW_API_KEY="sk-..."

# deepseek provider
DEEPSEEK_API_KEY="sk-..."

# gemini provider
GEMINI_API_KEY="..."

# openai provider
OPENAI_API_VERSION="2025-04-01-preview"
OPENAI_API_KEY="..."
OPENAI_ENDPOINT="..." # Response API endpoint, like GPT-5-mini
OPENAI_OLDTIME_ENDPOINT="..." # Old-Time Chat Completions API endpoint, like GPT-4o-mini
